extends layout

block content
    header
    nav(class="red lighten-2")
        div(class="nav-wrapper")
            a(href="#" class="brand-logo left") Recipes
            ul(id="nav-mobile" class="right hide-on-med-and-down")
                li 
                    input(id="search" type="search" placeholder=)

            ul(class="sidenav" id="mobile-demo")
                li
                    input(id="search" type="search") 

    div(class="container")
        h1= title
        div(class="col")

            h3#recipe-name
            h4 Ingredients
            ul#ingredients-list
            h4 Instructions 
            ul#instructions-list
        div(class="col")
            input(type="text" id="name-text" placeholder="Insert new recipe name")   
            h4 Ingredients 
            textarea#ingredients-text 
            button#add-ingredient(type="button" class="btn") Add ingredient
            h4 Instructions 
            textarea#instructions-text
            button#add-instruction(type="button" class="btn") Add instruction 
            br
            br
            label(for="image-input") Add image(s) 
            input(type="file" id="image-input")
            br
            br
            container(id=categories)
            button#submit(type="submit" class="btn") Submit